@charset "utf-8";

@import "../../src/pokemon.scss";
@import "./global.scss";
// body {
//   // background: #ededed;
// }
// .header .container {
//   padding: 40px;
//   .header-brand {
//     margin-bottom: 15px;
//   }
//   .hader-desc {
//     margin-top: 4px;
//     color: #666;
//     text-align: center;
//     font-size: 14px;
//   }
//   .header-logo {
//     display: block;
//     color: #000;
//     text-decoration: none;
//     font-size: 24px;
//   }
// }
// .main .container {
//   padding: 0 16px;
// }
html {
  font-size: 14px;
}
body {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #4a4a4a;
}
section {
  margin-bottom: 1.25rem;
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
}
.header {
  align-items: stretch;
  display: flex;
  padding: 1rem 2rem;
  min-height: 3.25rem;
  box-shadow: 0 2px 0 0 #f5f5f5;
  .container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
    max-width: 1344px;
  }
}

.docs-layout {
  display: flex;
  .docs-content {
    flex: 1;
  }
  .docs-sidebar {
    position: relative;
  }
}
.dosc-column-box {
  position: relative;
  padding:1.25rem 0;
  background: #F5F5F5;
  border-radius: 4px;
  color: #7a7a7a;
  font-weight: 600;
  text-align: center;
  word-break: break-all; // 用于平均column
  &.is-primary {
    background: #348fe2;
    color: #fff;
  }
}

.docs-layout .table {
  margin-bottom: 1rem;
}