@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: "block";
  }
}

@mixin center($width, $height: 0) {
  position: absolute;
  left: calc(50% - (#{$width} / 2));
  top: calc(50% - (#{$width} / 2));
}

@mixin loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid $lighter;
  border-radius: 1000px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}
@mixin arrow($color: transparent) {
  display: block;
  position: absolute;
  top: 50%;
  width: 0.625em;
  height: 0.625em;
  content:"";
  border-top: 0;
  border-left: 0;
  border: 3px solid $color;
  transform: rotate(-45deg);
  transform-style: center;
}
%arrow {
  @include arrow;
}
@mixin delete {
  @include unselectable;
  appearance: none;
  background: rgba(0,0,0,0.2);
  border:none;
  outline: none;
  border-radius: 1000px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  &::after,&::before {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }
  &::before {
    height: 2px;
    width: 50%;
  }
  &::after {
    height: 50%;
    width: 2px;
  }
  &:hover, &:focus {
    background: rgba(0,0,0,0.3)
  }
  &:active {
    background: rgba(0,0,0,0.4);
  }
  // size
}
// 不能选择
@mixin unselectable {
  user-select: none;
}

// 表单
%form-focus-active {
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  }
}
%form-control {
  @extend %form-focus-active;
  &[read-only] {
    box-shadow: none;
  }
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.25em;
  padding: 0.375em 0.625em;
  border-radius: 4px;
  border: solid 1px transparent;
  border-color: #dbdbdb;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: top;
  // colors
  @each $name, $color in $colors {
    &.is-#{$name} {
      border-color: #{$color};
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        box-shadow: 0 0 0 0.125em rgba($color, 0.25);
      }
    }
  }
  // sizes
  // 组件 modifers
  &.is-fullwidth {
    display: block;
    width: 100%;
  }
  &.is-inline {
    display: inline-block;
    width: auto;
  }
}

@mixin control {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.375em 0.625em;
  border-radius: 4px;
  border: solid 1px transparent;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: none;
  &:focus,&.is-focused, &:active, &.is-active {
    outline: none;
  }
  &[disabled] {
    cursor: not-allowed;
  }
}
%control {
  @include control;
}

@mixin overlay($offset: 0) {
  position: absolute;
  left: $offset;
  top: $offset;
  right: $offset;
  bottom: $offset;
}
%overlay {
  @include overlay;
}
// 响应式
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content
  }
}