// Colors
$black: #000 !default;
$darker: #363636 !default;
$dark: #7a7a7a !default;
$grey: #b5b5b5 !default;
$light: #fafafa !default;
$lighter: #dbdbdb !default;
$white: #fff !default;

$primary: #348fe2 !default;
$info: #2db7f5 !default; 
$success:  #84b547 !default;
$danger: #ff5b57 !default; 
$warning: #f59c1a !default;


// $family-primary:  BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;


// Z-index
$zindex-spin            : 8;
$zindex-affix           : 10;
$zindex-back-top        : 10;
$zindex-select          : 900;
$zindex-modal           : 1000;
$zindex-message         : 1010;
$zindex-notification    : 1010;
$zindex-tooltip         : 1060;
$zindex-transfer        : 1060;
$zindex-loading-bar     : 2000;
$zindex-spin-fullscreen : 2010;

$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 6px !default;
$radium-rounded: 1000px !default;

// Responsive
$widescreen: 1216px !default;
$desktop: 1024px !default; // 桌面宽度
$tablet: 768px !default;


$border-color: $lighter !default;
$background-color:$light !default;
$text-color:$dark !default;
$text-strong-color:$darker !default;
$text-light-color:$grey !default;
$divider-color: $lighter;


$link: $primary !default;


// list
$colors: (light: $light, dark:$dark, primary: $primary, success: $success, info: $info, danger: $danger, warning: $warning);
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default