// Colors
$white: #fff !default;
$black: #000 !default;

$darker: #222 !default;
$dark: #333 !default;
$grey: #666 !default;
$light: #999 !default;
$lighter: #eee !default;

$default: #f5f5f5 !default; // 灰色
$primary: #348fe2 !default; // 蓝色
$success:  #84b547 !default; // 绿色
$danger: #ff5b57 !default; // 红色
$warning: #f59c1a !default; // 橙色

// Responsive
$full: 1200px !default;
$desktop: 980px !default; // 桌面宽度
$tablet: 770px !default;


// text
$textTitle: #000000 !default;
$textTips: #b2b2b2 !default;
$textWarning: $warning !default;
$textGray: #999999 !default;

// list
$colors: (white: $white, light: $light, dark:$dark, black:$black, primary: $primary, success: $success, danger: $danger, warning: $warning);