@-webkit-keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.select::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 0.625em;
  height: 0.625em;
  content: "";
  border-top: 0;
  border-left: 0;
  border: 3px solid transparent;
  transform: rotate(-45deg);
  transform-style: center; }

.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25); }

.input, .textarea, .select select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.25em;
  padding: 0.375em 0.625em;
  border-radius: 4px;
  border: solid 1px transparent;
  border-color: #dbdbdb;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: top; }
  .input[read-only], .textarea[read-only], .select select[read-only] {
    box-shadow: none; }
  .is-white.input, .is-white.textarea, .select select.is-white {
    border-color: #fff; }
    .is-white.input:focus, .is-white.textarea:focus, .select select.is-white:focus, .is-white.is-focused.input, .is-white.is-focused.textarea, .select select.is-white.is-focused, .is-white.input:active, .is-white.textarea:active, .select select.is-white:active, .is-white.is-active.input, .is-white.is-active.textarea, .select select.is-white.is-active {
      box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25); }
  .is-light.input, .is-light.textarea, .select select.is-light {
    border-color: #999; }
    .is-light.input:focus, .is-light.textarea:focus, .select select.is-light:focus, .is-light.is-focused.input, .is-light.is-focused.textarea, .select select.is-light.is-focused, .is-light.input:active, .is-light.textarea:active, .select select.is-light:active, .is-light.is-active.input, .is-light.is-active.textarea, .select select.is-light.is-active {
      box-shadow: 0 0 0 0.125em rgba(153, 153, 153, 0.25); }
  .is-dark.input, .is-dark.textarea, .select select.is-dark {
    border-color: #333; }
    .is-dark.input:focus, .is-dark.textarea:focus, .select select.is-dark:focus, .is-dark.is-focused.input, .is-dark.is-focused.textarea, .select select.is-dark.is-focused, .is-dark.input:active, .is-dark.textarea:active, .select select.is-dark:active, .is-dark.is-active.input, .is-dark.is-active.textarea, .select select.is-dark.is-active {
      box-shadow: 0 0 0 0.125em rgba(51, 51, 51, 0.25); }
  .is-black.input, .is-black.textarea, .select select.is-black {
    border-color: #000; }
    .is-black.input:focus, .is-black.textarea:focus, .select select.is-black:focus, .is-black.is-focused.input, .is-black.is-focused.textarea, .select select.is-black.is-focused, .is-black.input:active, .is-black.textarea:active, .select select.is-black:active, .is-black.is-active.input, .is-black.is-active.textarea, .select select.is-black.is-active {
      box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.25); }
  .is-primary.input, .is-primary.textarea, .select select.is-primary {
    border-color: #348fe2; }
    .is-primary.input:focus, .is-primary.textarea:focus, .select select.is-primary:focus, .is-primary.is-focused.input, .is-primary.is-focused.textarea, .select select.is-primary.is-focused, .is-primary.input:active, .is-primary.textarea:active, .select select.is-primary:active, .is-primary.is-active.input, .is-primary.is-active.textarea, .select select.is-primary.is-active {
      box-shadow: 0 0 0 0.125em rgba(52, 143, 226, 0.25); }
  .is-success.input, .is-success.textarea, .select select.is-success {
    border-color: #84b547; }
    .is-success.input:focus, .is-success.textarea:focus, .select select.is-success:focus, .is-success.is-focused.input, .is-success.is-focused.textarea, .select select.is-success.is-focused, .is-success.input:active, .is-success.textarea:active, .select select.is-success:active, .is-success.is-active.input, .is-success.is-active.textarea, .select select.is-success.is-active {
      box-shadow: 0 0 0 0.125em rgba(132, 181, 71, 0.25); }
  .is-danger.input, .is-danger.textarea, .select select.is-danger {
    border-color: #ff5b57; }
    .is-danger.input:focus, .is-danger.textarea:focus, .select select.is-danger:focus, .is-danger.is-focused.input, .is-danger.is-focused.textarea, .select select.is-danger.is-focused, .is-danger.input:active, .is-danger.textarea:active, .select select.is-danger:active, .is-danger.is-active.input, .is-danger.is-active.textarea, .select select.is-danger.is-active {
      box-shadow: 0 0 0 0.125em rgba(255, 91, 87, 0.25); }
  .is-warning.input, .is-warning.textarea, .select select.is-warning {
    border-color: #f59c1a; }
    .is-warning.input:focus, .is-warning.textarea:focus, .select select.is-warning:focus, .is-warning.is-focused.input, .is-warning.is-focused.textarea, .select select.is-warning.is-focused, .is-warning.input:active, .is-warning.textarea:active, .select select.is-warning:active, .is-warning.is-active.input, .is-warning.is-active.textarea, .select select.is-warning.is-active {
      box-shadow: 0 0 0 0.125em rgba(245, 156, 26, 0.25); }
  .is-fullwidth.input, .is-fullwidth.textarea, .select select.is-fullwidth {
    display: block;
    width: 100%; }
  .is-inline.input, .is-inline.textarea, .select select.is-inline {
    display: inline-block;
    width: auto; }

.button, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.375em 0.625em;
  border-radius: 4px;
  border: solid 1px transparent;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: none; }
  .button:focus, .pagination-previous:focus, .pagination-next:focus, .pagination-link:focus, .pagination-ellipsis:focus, .is-focused.button, .is-focused.pagination-previous, .is-focused.pagination-next, .is-focused.pagination-link, .is-focused.pagination-ellipsis, .button:active, .pagination-previous:active, .pagination-next:active, .pagination-link:active, .pagination-ellipsis:active, .is-active.button, .is-active.pagination-previous, .is-active.pagination-next, .is-active.pagination-link, .is-active.pagination-ellipsis {
    outline: none; }
  .button[disabled], .pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled], .pagination-ellipsis[disabled] {
    cursor: not-allowed; }

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

html {
  overflow-y: scroll; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

select,
input,
textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td,
td img {
  vertical-align: top; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif; }

label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer; }

button,
input,
select,
textarea {
  margin: 0; }

button,
input[type="button"] {
  width: auto;
  overflow: visible; }

.button,
.input,
.select {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  position: relative;
  vertical-align: top; }

.button[disabled] {
  cursor: not-allowed; }

a {
  cursor: pointer;
  text-decoration: none; }

.f-w-100 {
  font-weight: 100; }

.f-w-200 {
  font-weight: 200; }

.f-w-300 {
  font-weight: 300; }

.f-w-400 {
  font-weight: 400; }

.f-w-500 {
  font-weight: 500; }

.f-w-600 {
  font-weight: 600; }

.text-center {
  text-align: center; }

.is-clearfix::after {
  clear: both;
  content: "";
  display: "block"; }

.is-pulled-none {
  float: none !important; }

.is-pulled-left {
  float: left !important; }

.is-pulled-right {
  float: right !important; }

.is-position-fixed sticky relative absolute static {
  position: fixed -webkit-sticky relative absolute static !important;
  position: fixed sticky relative absolute static !important; }

.is-block {
  display: block !important; }

.is-flex {
  display: flex !important; }

.is-inline {
  display: inline !important; }

.is-inline-block {
  display: inline-block !important; }

.is-inline-flex {
  display: inline-flex !important; }

.is-hidden {
  display: none; }

.is-clipped {
  overflow: hidden !important; }

.box {
  display: block;
  padding: 1.25rem;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1); }

a.box:hover, a.box:focus {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px #348fe2; }

a.box:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px #348fe2; }

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }
  .tags .tag {
    margin-bottom: 0.5rem; }
    .tags .tag:not(:last-child) {
      margin-right: 0.5rem; }
  .tags:last-child {
    margin-bottom: -0.5rem; }
  .tags:not(:last-child) {
    margin-bottom: 1rem; }
  .tags.are-medium .tag:not(.is-normal):not(.is-large) {
    font-size: 1rem; }
  .tags.is-centered {
    justify-content: center; }
    .tags.is-centered .tag {
      margin-right: 0.25rem;
      margin-left: 0.25rem; }
  .tags.is-right {
    justify-content: flex-end; }
    .tags.is-right:not(:first-child) {
      margin-left: 0.5rem; }
    .tags.is-right:not(:last-child) {
      margin-right: 0; }
  .tags.has-addons .tag {
    margin-right: 0; }
    .tags.has-addons .tag:not(:first-child) {
      margin-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    .tags.has-addons .tag:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  padding: 0 0.7em;
  background: #f5f5f5;
  color: #4a4a4a;
  white-space: nowrap;
  font-size: 0.75rem;
  border-radius: 4px; }
  .tag.is-white {
    background: #fff;
    color: #fff; }
  .tag.is-light {
    background: #999;
    color: #fff; }
  .tag.is-dark {
    background: #333;
    color: #fff; }
  .tag.is-black {
    background: #000;
    color: #fff; }
  .tag.is-primary {
    background: #348fe2;
    color: #fff; }
  .tag.is-success {
    background: #84b547;
    color: #fff; }
  .tag.is-danger {
    background: #ff5b57;
    color: #fff; }
  .tag.is-warning {
    background: #f59c1a;
    color: #fff; }
  .tag.is-normal {
    font-size: 0.75rem; }
  .tag.is-medium {
    font-size: 1rem; }
  .tag.is-large {
    font-size: 1.25rem; }
  .tag.is-rounded {
    border-radius: 1000px; }

.button {
  justify-content: center;
  padding: 4px 12px;
  border-color: #dbdbdb;
  border-width: 1px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  color: #666; }
  .button:hover, .button.is-hovered {
    border-color: #999;
    color: #666; }
  .button.is-loading {
    color: transparent !important;
    pointer-events: none; }
    .button.is-loading::after {
      position: absolute;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      -webkit-animation: spinAround 500ms infinite linear;
              animation: spinAround 500ms infinite linear;
      border: 2px solid #eee;
      border-radius: 1000px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1em;
      position: relative;
      width: 1em;
      position: absolute !important; }
  .button[disabled] {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    opacity: 0.5; }
  .button.is-primary {
    background: #348fe2;
    border-color: transparent;
    color: #fff; }
    .button.is-primary:hover, .button.is-primary.is-hovered {
      background-color: #2989e0;
      border-color: transparent;
      color: #fff; }
    .button.is-primary[disabled] {
      background-color: #348fe2;
      border-color: transparent;
      box-shadow: none; }
  .button.is-small {
    border-radius: 2px;
    font-size: 11px;
    height: 24px;
    line-height: 16px;
    padding: 3px 6px; }
  .button.is-fullwidth {
    display: flex;
    width: 100%; }
  .button.is-outlined {
    background-color: transparent;
    border-color: #348fe2;
    color: #348fe2; }
    .button.is-outlined:hover, .button.is-outlined.is-hovered {
      background-color: #348fe2;
      border-color: #348fe2;
      color: #fff; }
  .button.is-rounded {
    border-radius: 1000px;
    padding-left: 1em;
    padding-right: 1em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.table {
  background: #fff;
  color: #363636; }
  .table td,
  .table th {
    border: solid 1px #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top; }
  .table th {
    color: #363636; }
    .table th:not([align]) {
      text-align: left; }
  .table tr.is-selected {
    background: #fafafa;
    color: #363636; }
    .table tr.is-selected a,
    .table tr.is-selected strong {
      color: currentColor; }
    .table tr.is-selected td,
    .table tr.is-selected th {
      border-color: #fff;
      color: currentColor; }
  .table thead {
    background: transparent; }
    .table thead td,
    .table thead th {
      border-width: 0 0 2px;
      color: #363636; }
  .table tbody {
    background-color: transparent; }
    .table tbody tr:last-child td,
    .table tbody tr:last-child th {
      border-bottom-width: 0; }
  .table.is-bordered td,
  .table.is-bordered th {
    border-width: 1px; }
  .table.is-bordered tr:last-child td,
  .table.is-bordered tr:last-child th {
    border-bottom-width: 1px; }
  .table.is-fullwidth {
    width: 100%; }
  .table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #fafafa; }
  .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #fafafa; }

.table-container {
  display: block;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%; }

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem; }
  .icon.is-small {
    width: 1rem;
    height: 1rem; }
  .icon.is-medium {
    width: 2rem;
    height: 2rem; }
  .icon.is-large {
    width: 2rem;
    height: 2rem; }

.delete {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 1000px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
  height: 20px;
  max-height: 20px;
  max-width: 20px; }
  .delete::after, .delete::before {
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .delete::before {
    height: 2px;
    width: 50%; }
  .delete::after {
    height: 50%;
    width: 2px; }
  .delete:hover, .delete:focus {
    background: rgba(0, 0, 0, 0.3); }
  .delete:active {
    background: rgba(0, 0, 0, 0.4); }

.input {
  width: 100%;
  max-width: 100%;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); }
  .input.is-rounded {
    border-radius: 1000px;
    padding-left: 1em;
    padding-right: 1em; }

.textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.625em;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  resize: vertical; }
  .textarea:not([rows]) {
    max-height: 600px;
    min-height: 120px; }
  .textarea[rows] {
    height: initial; }
  .textarea.has-fixed-size {
    resize: none; }

.select {
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: top; }
  .select::after {
    border-color: #348fe2;
    right: 1.125em;
    z-index: 4; }
  .select select {
    cursor: pointer;
    display: block;
    outline: none; }

.radio, .checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer; }

.radio input[type="radio"] {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 1000px;
  border: solid 1px #dbdbdb;
  vertical-align: middle;
  cursor: pointer; }
  .radio input[type="radio"]:focus {
    border-color: #d8d8d8; }
  .radio input[type="radio"]:checked {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #fff;
    border-color: #3197EE; }

.checkbox input[type="checkbox"] {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 2px;
  border: solid 1px #dbdbdb;
  vertical-align: middle;
  cursor: pointer; }
  .checkbox input[type="checkbox"]:focus {
    border-color: #d8d8d8; }
  .checkbox input[type="checkbox"]:checked {
    background-color: #3197EE;
    border-color: #3197EE; }

.breadcrumb {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1rem;
  white-space: nowrap; }
  .breadcrumb ul,
  .breadcrumb ol {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap; }
  .breadcrumb li {
    display: flex;
    align-items: center; }
    .breadcrumb li:first-child a {
      padding-left: 0; }
    .breadcrumb li.is-active a {
      color: #363636;
      cursor: default;
      pointer-events: none; }
    .breadcrumb li + li::before {
      color: #b5b5b5;
      content: "\0002f"; }
  .breadcrumb a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    color: #3273dc; }
    .breadcrumb a:hover {
      color: #363636; }
  .breadcrumb.is-centered ol,
  .breadcrumb.is-centered ul {
    justify-content: center; }
  .breadcrumb.is-right ol,
  .breadcrumb.is-right ul {
    justify-content: flex-end; }
  .breadcrumb.has-arrow-separator li + li::before {
    content: "\02192"; }

.pagination {
  font-size: 1rem;
  margin: -0.25rem; }
  .pagination.is-rounded .pagination-previous, .pagination.is-rounded .pagination-next, .pagination.is-rounded .pagination-link {
    border-radius: 1000px; }

.pagination, .pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.pagination-list {
  flex-wrap: wrap; }

.pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0.25rem;
  justify-content: center;
  text-align: center; }

.pagination-previous, .pagination-next, .pagination-link {
  min-width: 2.25em;
  border: solid 1px #dbdbdb;
  color: #363636; }
  .pagination-previous:hover, .pagination-previous:focus, .pagination-next:hover, .pagination-next:focus, .pagination-link:hover, .pagination-link:focus {
    border-color: #b5b5b5;
    color: #363636; }
  .pagination-previous:active, .pagination-next:active, .pagination-link:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }
  .pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] {
    background-color: #dbdbdb;
    border-color: #b5b5b5;
    box-shadow: none;
    color: #363636;
    opacity: 0.5; }

.pagination-link.is-current {
  background-color: #348fe2;
  border-color: #348fe2;
  color: #fff; }

.tabs {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap; }
  .tabs a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    border-bottom: solid 1px #dbdbdb;
    margin-bottom: -1px;
    color: #363636; }
    .tabs a:hover {
      border-bottom-color: #363636;
      color: #363636; }
  .tabs ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    border-bottom: solid 1px #dbdbdb; }
  .tabs li {
    display: block; }
    .tabs li.is-active a {
      border-bottom-color: #348fe2;
      color: #348fe2; }
  .tabs.is-centered ul {
    justify-content: center; }
  .tabs.is-right ul {
    justify-content: flex-end; }
  .tabs.is-boxed a {
    border: 1px solid transparent;
    border-radius: 3px; }
    .tabs.is-boxed a:hover {
      background: #efefef;
      border-bottom-color: #dbdbdb; }
  .tabs.is-boxed li.is-active a {
    background: #fff;
    border-color: #dbdbdb;
    border-bottom-color: transparent; }
  .tabs.is-toggle a {
    position: relative;
    border: solid 1px #dbdbdb;
    margin-bottom: 0; }
    .tabs.is-toggle a:hover {
      background: #efefef;
      border-color: #dbdbdb; }
  .tabs.is-toggle li + li a {
    margin-left: -1px; }
  .tabs.is-toggle li:first-child a {
    border-radius: 3px 0 0 3px; }
  .tabs.is-toggle li:last-child a {
    border-radius: 0 3px 3px 0; }
  .tabs.is-toggle li.is-active a {
    background: #348fe2;
    border-color: #348fe2;
    color: #fff; }
  .tabs.is-toggle ul {
    border-bottom: none; }

.dropdown {
  position: relative;
  display: inline-flex;
  vertical-align: top; }
  .dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
    display: block; }

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 12rem;
  z-index: 10;
  padding-top: 4px; }

.dropdown-content {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 0.5rem 0; }

.dropdown-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  white-space: nowrap; }
  .dropdown-item:hover {
    background: #f5f5f5;
    color: #363636; }
  .dropdown-item.is-active {
    background: #348fe2;
    color: #fff; }

.dropdown-divider {
  background: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0; }

.columns {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem; }
  .columns:last-child {
    margin-bottom: -0.75rem; }
  .columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem); }
  .columns.is-centered {
    justify-content: center; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0 !important; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 1.5rem; }
  .columns.is-multiline {
    flex-wrap: wrap; }
  .columns.is-vcentered {
    align-items: center; }

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }
  .column.is-narrow {
    flex: none; }
  .column.is-full {
    flex: none;
    width: 100%; }
  .column.is-three-quarters {
    flex: none;
    width: 75%; }
  .column.is-two-thrid {
    flex: none;
    width: 66.6666%; }
  .column.is-half {
    flex: none;
    width: 50%; }
  .column.is-offset-three-quarters {
    margin-left: 75%; }
  .column.is-offset-two-thirds {
    margin-left: 66.6666%; }
  .column.is-offset-half {
    margin-left: 50%; }
  .column.is-0 {
    flex: none;
    width: 0%; }
  .column.is-offset-0 {
    margin-left: 0%; }
  .column.is-1 {
    flex: none;
    width: 8.33333%; }
  .column.is-offset-1 {
    margin-left: 8.33333%; }
  .column.is-2 {
    flex: none;
    width: 16.66667%; }
  .column.is-offset-2 {
    margin-left: 16.66667%; }
  .column.is-3 {
    flex: none;
    width: 25%; }
  .column.is-offset-3 {
    margin-left: 25%; }
  .column.is-4 {
    flex: none;
    width: 33.33333%; }
  .column.is-offset-4 {
    margin-left: 33.33333%; }
  .column.is-5 {
    flex: none;
    width: 41.66667%; }
  .column.is-offset-5 {
    margin-left: 41.66667%; }
  .column.is-6 {
    flex: none;
    width: 50%; }
  .column.is-offset-6 {
    margin-left: 50%; }
  .column.is-7 {
    flex: none;
    width: 58.33333%; }
  .column.is-offset-7 {
    margin-left: 58.33333%; }
  .column.is-8 {
    flex: none;
    width: 66.66667%; }
  .column.is-offset-8 {
    margin-left: 66.66667%; }
  .column.is-9 {
    flex: none;
    width: 75%; }
  .column.is-offset-9 {
    margin-left: 75%; }
  .column.is-10 {
    flex: none;
    width: 83.33333%; }
  .column.is-offset-10 {
    margin-left: 83.33333%; }
  .column.is-11 {
    flex: none;
    width: 91.66667%; }
  .column.is-offset-11 {
    margin-left: 91.66667%; }
  .column.is-12 {
    flex: none;
    width: 100%; }
  .column.is-offset-12 {
    margin-left: 100%; }

.pokemonLogo {
  display: inline-block;
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out; }
  .pokemonLogo span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 4px;
    margin-top: -2px;
    margin-left: -12px;
    background: #000000;
    transform: rotateZ(45deg); }
    .pokemonLogo span::before, .pokemonLogo span::after {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 8px;
      width: 8px;
      height: 4px;
      background: #000000; }
    .pokemonLogo span::after {
      top: 10px; }

html {
  font-size: 14px; }

body {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #4a4a4a; }

section {
  margin-bottom: 1.25rem; }

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative; }

.header {
  align-items: stretch;
  display: flex;
  padding: 1rem 2rem;
  min-height: 3.25rem;
  box-shadow: 0 2px 0 0 #f5f5f5; }
  .header .container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
    max-width: 1344px; }

.docs-layout {
  display: flex; }
  .docs-layout .docs-content {
    flex: 1; }
  .docs-layout .docs-sidebar {
    position: relative; }

.dosc-column-box {
  position: relative;
  padding: 1.25rem 0;
  background: #F5F5F5;
  border-radius: 4px;
  color: #7a7a7a;
  font-weight: 600;
  text-align: center;
  word-break: break-all; }
  .dosc-column-box.is-primary {
    background: #348fe2;
    color: #fff; }

.docs-layout .table {
  margin-bottom: 1rem; }
