// Colors
$darker: #222 !default;
$dark: #333 !default;
$grey: #666 !default;
$light: #999 !default;
$lighter: #eee !default;

$default: #b6c2c9 !default; // 灰色
$primary: #348fe2 !default; // 蓝色
$success:  #84b547 !default; // 绿色
$danger: #ff5b57 !default; // 红色
$warning: #f59c1a !default; // 橙色

// Responsive
$full: 1200px !default;
$desktop: 980px !default; // 桌面宽度
$tablet: 770px !default;


// text
$textTitle: #000000 !default;
$textTips: #b2b2b2 !default;
$textWarning: $warning !default;
$textGray: #999999 !default;

// list
$colors: $white $light $dark $black $primary $success $danger $warning;