// Colors
$grey-darker: #222 !default;
$grey-dark: #333 !default;
$grey: #666 !default;
$grey-light: #999 !default;
$grey-lighter: #eee !default;

$default: #b6c2c9 !default; // 灰色
$primary: #348fe2 !default; // 蓝色
$success:  #84b547 !default; // 绿色
$danger: #ff5b57 !default; // 红色
$warning: #f59c1a !default; // 橙色
