.label {
  display: block;
  font-size: 1rem;
}
.help {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  @each $name, $color in $colors {
    &.is-#{$name} {
      color:$color;
    }
  }
}
.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
}
.field {
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  &.is-horizontal {
    display: flex;
  }

}
.field-label {
  .label {
    font-size: inherit;
  }

}
.field-body {
  .field .field {
    margin-bottom: 0;
  }
}
.form {
  &.is-horizontal {
    .field {
      display: flex;
    }
  }
}