@mixin button-small {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding: 3px 6px;
}
@mixin button-medium {
  font-size: 18px;
  height: 40px;
  padding: 7px 14px;
}
@mixin button-large {
  font-size: 22px;
  height: 48px;
  padding: 11px 20px;
}

.button {
  padding: 3px 10px;
}
