$column-gap: 0.75rem !default;
.columns {
  display: flex;
  margin-left: (-$column-gap);
  margin-right: (-$column-gap);
  margin-top: (-$column-gap);
  &:last-child {
    margin-bottom: (-$column-gap)
  }
  &:not(:last-child) {
    margin-bottom: calc(1.5rem - #{$column-gap});
  }
  // Modifiers
  &.is-centered {
    justify-content: center
  }
  &.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    & > .column {
      margin: 0;
      padding: 0 !important;
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  &.is-multiline {
    flex-wrap: wrap
  }
  &.is-vcentered {
    align-items: center;
  }
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $column-gap;
    // Modifiers
    &.is-narrow {
      flex: none;
    }
    &.is-full {
      flex: none;
      width: 100%;
    }
    &.is-three-quarters {
      flex: none;
      width: 75%
    }
    &.is-two-thrid {
      flex: none;
      width: 66.6666%;
    }
    &.is-half {
      flex: none;
      width: 50%;
    }
    &.is-offset-three-quarters {
      margin-left: 75%;
    }
    &.is-offset-two-thirds {
      margin-left: 66.6666%;
    }
    &.is-offset-half {
      margin-left: 50%;
    }
    // 12栅格
    @for $i from 0 through 12 {
      &.is-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }
      &.is-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
}
