$column-gap: 0.75rem !default;
.columns {
  margin-left: (-$column-gap);
  margin-right: (-$column-gap);
  margin-top: (-$column-gap);
  &:last-child {
    margin-bottom: (-$column-gap)
  }
  &:not(:last-child) {
    margin-bottom: calc(1.5rem - #{$column-gap});
  }
  // Modifiers
  // &.is-centered
  //   justify-content: center
  // &.is-gapless
  //   margin-left: 0
  //   margin-right: 0
  //   margin-top: 0
  //   & > .column
  //     margin: 0
  //     padding: 0 !important
  //   &:not(:last-child)
  //     margin-bottom: 1.5rem
  //   &:last-child
  //     margin-bottom: 0
  // &.is-mobile
  //   display: flex
  // &.is-multiline
  //   flex-wrap: wrap
  // &.is-vcentered
  //   align-items: center
  // // Responsiveness
  // +tablet
  //   &:not(.is-desktop)
  //     display: flex
  // +desktop
  //   // Modifiers
  //   &.is-desktop
  //     display: flex
}
// .columns {
//   &:not(:last-child) {
//     margin-bottom: 20px;
//   }
//   &.is-grid {
//     flex-wrap: wrap;
//     & > .column {
//       flex-basis: 33.3333%;
//       max-width: 33.3333%;
//       padding: 10px;
//       width: 33.3333%;
//       & + .column {
//         margin-left: 0;
//       }
//     }
//   }
// }