.menu {
}
.menu-group {
  margin-bottom: 1.25rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.menu-group-title {
  font-size: 1.25rem;
  text-transform: capitalize;
  &:not(:first-child) {
    margin-top:1em;
  }
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
.menu-list {
  line-height: 1.25;
  .menu-list {
    margin: 0.75em;
    padding-left: 0.75em;
  }
}
.menu-item {
  a {
    display: block;
    padding: 0.5em 0.75em;
    color: $text-color;
    border-radius: 3px;
    &:hover {
      background: $background-color;
      color: $text-color;
    }
  }
  &.is-active {
    a {
      background: $primary;
      color: $white;
    }
  }
}
