html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
input[type="button"] {
  width: auto;
  overflow: visible;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.f-w-100 {
  font-weight: 100;
}

.f-w-200 {
  font-weight: 200;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-600 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.is-clearfix::after {
  clear: both;
  content: "";
  display: "block";
}

.is-pulled-none {
  float: none !important;
}

.is-pulled-left {
  float: left !important;
}

.is-pulled-right {
  float: right !important;
}

.is-position-fixed sticky relative absolute static {
  position: fixed sticky relative absolute static !important;
}

.is-block {
  display: block !important;
}

.is-flex {
  display: flex !important;
}

.is-inline {
  display: inline !important;
}

.is-inline-block {
  display: inline-block !important;
}

.is-inline-flex {
  display: inline-flex !important;
}

.is-hidden {
  display: none;
}

.is-clipped {
  overflow: hidden !important;
}

.button,
.input,
.select {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  position: relative;
  vertical-align: top;
}

.button[disabled] {
  cursor: not-allowed;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.75rem);
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 4px 12px;
  border-color: #eee;
  border-width: 1px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  color: #666;
}

.button:hover, .button.is-hovered {
  border-color: #999;
  color: #666;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading::after {
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  animation: spinAround 500ms infinite linear;
  border: 2px solid #eee;
  border-radius: 1000px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute !important;
}

.button[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  opacity: 0.5;
}

.button.is-primary {
  background: #348fe2;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: #2989e0;
  border-color: transparent;
  color: #fff;
}

.button.is-primary[disabled] {
  background-color: #348fe2;
  border-color: transparent;
  box-shadow: none;
}

.button.is-small {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding: 3px 6px;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.button.is-outlined {
  background-color: transparent;
  border-color: #348fe2;
  color: #348fe2;
}

.button.is-outlined:hover, .button.is-outlined.is-hovered {
  background-color: #348fe2;
  border-color: #348fe2;
  color: #fff;
}

.button.is-rounded {
  border-radius: 1000px;
  padding-left: 1em;
  padding-right: 1em;
}
