html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
input[type="button"] {
  width: auto;
  overflow: visible;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.f-w-100 {
  font-weight: 100;
}

.f-w-200 {
  font-weight: 200;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-600 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.is-clearfix::after {
  clear: both;
  content: "";
  display: "block";
}

.is-pulled-none {
  float: none !important;
}

.is-pulled-left {
  float: left !important;
}

.is-pulled-right {
  float: right !important;
}

.is-position-fixed sticky relative absolute static {
  position: fixed sticky relative absolute static !important;
}

.is-block {
  display: block !important;
}

.is-flex {
  display: flex !important;
}

.is-inline {
  display: inline !important;
}

.is-inline-block {
  display: inline-block !important;
}

.is-inline-flex {
  display: inline-flex !important;
}

.is-hidden {
  display: none;
}

.is-clipped {
  overflow: hidden !important;
}

.button,
.input,
.select {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  position: relative;
  vertical-align: top;
}

.button[disabled] {
  cursor: not-allowed;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.columns {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.75rem);
}

.columns.is-centered {
  justify-content: center;
}

.columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.columns.is-gapless > .column {
  margin: 0;
  padding: 0 !important;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 1.5rem;
}

.columns.is-multiline {
  flex-wrap: wrap;
}

.columns.is-vcentered {
  align-items: center;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.column.is-narrow {
  flex: none;
}

.column.is-full {
  flex: none;
  width: 100%;
}

.column.is-three-quarters {
  flex: none;
  width: 75%;
}

.column.is-two-thrid {
  flex: none;
  width: 66.6666%;
}

.column.is-half {
  flex: none;
  width: 50%;
}

.column.is-offset-three-quarters {
  margin-left: 75%;
}

.column.is-offset-two-thirds {
  margin-left: 66.6666%;
}

.column.is-offset-half {
  margin-left: 50%;
}

.column.is-0 {
  flex: none;
  width: 0%;
}

.column.is-offset-0 {
  margin-left: 0%;
}

.column.is-1 {
  flex: none;
  width: 8.33333%;
}

.column.is-offset-1 {
  margin-left: 8.33333%;
}

.column.is-2 {
  flex: none;
  width: 16.66667%;
}

.column.is-offset-2 {
  margin-left: 16.66667%;
}

.column.is-3 {
  flex: none;
  width: 25%;
}

.column.is-offset-3 {
  margin-left: 25%;
}

.column.is-4 {
  flex: none;
  width: 33.33333%;
}

.column.is-offset-4 {
  margin-left: 33.33333%;
}

.column.is-5 {
  flex: none;
  width: 41.66667%;
}

.column.is-offset-5 {
  margin-left: 41.66667%;
}

.column.is-6 {
  flex: none;
  width: 50%;
}

.column.is-offset-6 {
  margin-left: 50%;
}

.column.is-7 {
  flex: none;
  width: 58.33333%;
}

.column.is-offset-7 {
  margin-left: 58.33333%;
}

.column.is-8 {
  flex: none;
  width: 66.66667%;
}

.column.is-offset-8 {
  margin-left: 66.66667%;
}

.column.is-9 {
  flex: none;
  width: 75%;
}

.column.is-offset-9 {
  margin-left: 75%;
}

.column.is-10 {
  flex: none;
  width: 83.33333%;
}

.column.is-offset-10 {
  margin-left: 83.33333%;
}

.column.is-11 {
  flex: none;
  width: 91.66667%;
}

.column.is-offset-11 {
  margin-left: 91.66667%;
}

.column.is-12 {
  flex: none;
  width: 100%;
}

.column.is-offset-12 {
  margin-left: 100%;
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 4px 12px;
  border-color: #eee;
  border-width: 1px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  color: #666;
}

.button:hover, .button.is-hovered {
  border-color: #999;
  color: #666;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading::after {
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  animation: spinAround 500ms infinite linear;
  border: 2px solid #eee;
  border-radius: 1000px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute !important;
}

.button[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  opacity: 0.5;
}

.button.is-primary {
  background: #348fe2;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: #2989e0;
  border-color: transparent;
  color: #fff;
}

.button.is-primary[disabled] {
  background-color: #348fe2;
  border-color: transparent;
  box-shadow: none;
}

.button.is-small {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding: 3px 6px;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.button.is-outlined {
  background-color: transparent;
  border-color: #348fe2;
  color: #348fe2;
}

.button.is-outlined:hover, .button.is-outlined.is-hovered {
  background-color: #348fe2;
  border-color: #348fe2;
  color: #fff;
}

.button.is-rounded {
  border-radius: 1000px;
  padding-left: 1em;
  padding-right: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  background: #fff;
  color: #363636;
}

.table td,
.table th {
  border: solid 1px #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.table th {
  color: #363636;
}

.table th:not([align]) {
  text-align: left;
}

.table tr.is-selected {
  background: #fafafa;
  color: #363636;
}

.table tr.is-selected a,
.table tr.is-selected strong {
  color: currentColor;
}

.table tr.is-selected td,
.table tr.is-selected th {
  border-color: #fff;
  color: currentColor;
}

.table thead {
  background: transparent;
}

.table thead td,
.table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.table tbody {
  background-color: transparent;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 0;
}

.table.is-bordered td,
.table.is-bordered th {
  border-width: 1px;
}

.table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

.table.is-fullwidth {
  width: 100%;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #fafafa;
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #fafafa;
}

.table-container {
  display: block;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.delete {
  user-select: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 1000px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
}

.delete::after, .delete::before {
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.delete::before {
  height: 2px;
  width: 50%;
}

.delete::after {
  height: 50%;
  width: 2px;
}

.delete:hover, .delete:focus {
  background: rgba(0, 0, 0, 0.3);
}

.delete:active {
  background: rgba(0, 0, 0, 0.4);
}

.breadcrumb {
  user-select: none;
  font-size: 1rem;
  white-space: nowrap;
}

.breadcrumb ul,
.breadcrumb ol {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb li:first-child a {
  padding-left: 0;
}

.breadcrumb li.is-active a {
  color: #363636;
  cursor: default;
  pointer-events: none;
}

.breadcrumb li + li::before {
  color: #b5b5b5;
  content: "\0002f";
}

.breadcrumb a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  color: #3273dc;
}

.breadcrumb a:hover {
  color: #363636;
}

.breadcrumb.is-centered ol,
.breadcrumb.is-centered ul {
  justify-content: center;
}

.breadcrumb.is-right ol,
.breadcrumb.is-right ul {
  justify-content: flex-end;
}

.breadcrumb.has-arrow-separator li + li::before {
  content: "\02192";
}
