.pokemonLogo {
  display: inline-block;
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.pokemonLogo span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 4px;
  margin-top: -2px;
  margin-left: -12px;
  background: #000000;
  transform: rotateZ(45deg);
}

.pokemonLogo span::before, .pokemonLogo span::after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 8px;
  width: 8px;
  height: 4px;
  background: #000000;
}

.pokemonLogo span::after {
  top: 10px;
}

.header .container {
  padding: 40px;
}

.header .container .header-brand {
  margin-bottom: 15px;
}

.header .container .hader-desc {
  margin-top: 4px;
  color: #666;
  text-align: center;
  font-size: 14px;
}

.header .container .header-logo {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 24px;
}

.main .container {
  padding: 0 16px;
}
