// 重置样式
.button,
.input,
.select {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  position: relative;
  vertical-align: top;
}
.button[disabled] {
  cursor: not-allowed;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $text-color;
  }
}