@charset "utf-8";

// 零件式框架    原则
// 字体
$fontWeights: 100 200 300 400 500 600;
@each $fontWeight in $fontWeights {
  .f-w-#{$fontWeight} {
    font-weight: #{$fontWeight};
  }
}
$fontSizes: 12px 12px 16px 18px 20px 22px 24px 26px 28px 30px 32px 34px 36px;
$textAligns: left center right;
.text-center {
  text-align: center;
}
// 布局
.is-clearfix {
  @include clearfix;
}
.is-pulled-none {
  float: none !important;
}
.is-pulled-left {
  float: left !important;
}
.is-pulled-right {
  float: right !important;
}
$positions: "fixed sticky relative absolute static";
@each $position in $positions {
  .is-position-#{$position} {
    position: #{$position} !important;
  }
}

// 模块
$displays: "block" "flex" "inline" "inline-block" "inline-flex";
@each $display in $displays {
  .is-#{$display} {
    display: #{$display} !important;
  }
}
.is-hidden {
  display: none;
}
.is-clipped {
  overflow: hidden !important;
}
// 盒模型