// 响应式导航栏
.navbar {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 3.5rem;
  background: transparent;
  & > .container {
    display: flex;
    // min-height: 3.5rem;
    width: 100%;
    align-items: stretch;
  }
  &.has-shadow {
    box-shadow:  0 8px 8px rgba($black, 0.1);
  }
  &.is-fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
}
.navbar-brand {
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  min-height: 3.5rem;
}
.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-content {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}
.navbar-start {

}
.navbar-end {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: auto;
}
.navbar-item {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  &.has-dropdown {
    padding: 0;
  }
  &.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
a.navbar-item {
  cursor: pointer;
  &:focus,&:hover,&.is-active {
    color: #363636;
    background: #f2f2f2;
  }
}
// 固定
html, body {
  &.has-navbar-fixed-top {
    padding-top: 3.5rem;
  }
}